@font-face {
  font-family: 'BeachDay';
  src: url("@/assets/fonts/beachday/beachday.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hover-zoom {
  transition: transform 0.3s ease-in-out;
  }

.hover-zoom:hover {
  transform: scale(1.1);
}

.body {
  background-image: url("@/assets/images/HomePage/Background.jpg");
}

.font {
  font-family: 'BeachDay', sans-serif;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-text {
  display: inline-block;
  animation: bounce 2s infinite;
  cursor: pointer;
  transition: color 0.3s;
}

.multicolor-text {
  background: linear-gradient(270deg, red, orange, yellow, green
    , blue, indigo, violet);
  background-size: 1400% 1400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
